/jsr354-api-master/src/main/asciidoc/images/icons/callouts/9.png
/jsr354-api-master/src/test/resources/META-INF/services/javax.money.spi.MonetaryAmountFactoryProviderSpi
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/14.png
/jsr354-api-master/src/test/java/javax/money/CurrencyQueryBuilderTest.java
/jsr354-api-master/src/test/java/javax/money/spi/MonetaryFormatsSingletonSpiTest.java
/jsr354-api-master/src/main/java/javax/money/spi/MonetaryAmountFactoryProviderSpi.java
/jsr354-api-master/src/test/java/javax/money/internal/package-info.java
/jsr354-api-master/.travis.yml
/jsr354-api-master/src/test/java/javax/money/NumberValueTest.java
/jsr354-api-master/README.md
/jsr354-api-master/src/test/java/javax/money/MonetaryExceptionTest.java
/jsr354-api-master/src/test/java/javax/money/MonetaryTest.java
/jsr354-api-master/src/main/java/javax/money/format/AmountFormatContextBuilder.java
/jsr354-api-master/settings.xml
/jsr354-api-master/src/main/java/javax/money/convert/CurrencyConversionException.java
/jsr354-api-master/src/test/resources/META-INF/services/javax.money.spi.CurrencyProviderSpi
/jsr354-api-master/src/test/java/javax/money/MonetaryAmountTest.java
/jsr354-api-master/src/test/java/javax/money/UnknownCurrencyExceptionTest.java
/jsr354-api-master/src/test/java/javax/money/convert/DefaultExchangeRate.java
/jsr354-api-master/src/test/java/javax/money/spi/MonetaryConversionsSingletonSpiTest.java
/jsr354-api-master/src/test/java/javax/money/TestCurrencyProvider.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/2.png
/jsr354-api-master/src/main/java/javax/money/spi/RoundingProviderSpi.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/7.png
/jsr354-api-master/src/main/java/javax/money/RoundingQueryBuilder.java
/jsr354-api-master/src/test/java/javax/money/MonetaryAmountsTest.java
/jsr354-api-master/src/main/java/javax/money/spi/CurrencyProviderSpi.java
/jsr354-api-master/src/main/java/javax/money/RoundingQuery.java
/jsr354-api-master/src/main/java/javax/money/MonetaryAmountFactoryQueryBuilder.java
/jsr354-api-master/src/test/java/javax/money/spi/MonetarySingletonSpiTest.java
/jsr354-api-master/src/main/java/javax/money/convert/ExchangeRate.java
/jsr354-api-master/src/main/asciidoc/images/icons/warning.png
/jsr354-api-master/src/main/asciidoc/images/icons/README
/jsr354-api-master/src/main/java/javax/money/CurrencyQueryBuilder.java
/jsr354-api-master/src/main/java/javax/money/convert/ProviderContext.java
/jsr354-api-master/src/test/java/javax/money/format/MonetaryFormatsDynamicServiceProviderTest.java
/jsr354-api-master/src/main/java/javax/money/spi/MonetaryAmountsSingletonSpi.java
/jsr354-api-master/src/main/java/javax/money/convert/package-info.java
/jsr354-api-master/src/test/java/javax/money/MonetaryRoundingsTest.java
/jsr354-api-master/src/main/java/javax/money/AbstractQuery.java
/jsr354-api-master/src/main/java/javax/money/format/AmountFormatQueryBuilder.java
/jsr354-api-master/src/test/java/javax/money/spi/ConcurrentInitializationTest.java
/jsr354-api-master/src/license/jcp_spec/header.txt
/jsr354-api-master/src/main/java/javax/money/MonetaryAmountFactoryQuery.java
/jsr354-api-master/src/main/java/javax/money/format/package-info.java
/jsr354-api-master/src/test/java/javax/money/convert/CurrencyConversionExceptionTest.java
/jsr354-api-master/src/test/java/javax/money/MonetaryContextTest.java
/jsr354-api-master/src/test/resources/META-INF/services/javax.money.spi.MonetaryAmountsSingletonSpi
/jsr354-api-master/pom.xml
/jsr354-api-master/src/main/java/javax/money/convert/CurrencyConversion.java
/jsr354-api-master/src/main/java/javax/money/CurrencySupplier.java
/jsr354-api-master/bnd.bnd
/jsr354-api-master/src/main/asciidoc/images/smallnew.png
/jsr354-api-master/src/license/jcp_spec/license.txt
/jsr354-api-master/src/main/asciidoc/images/icons/caution.png
/jsr354-api-master/src/main/asciidoc/images/javamoney_cup.jpg
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/3.png
/jsr354-api-master/src/main/java/javax/money/MonetaryRounding.java
/jsr354-api-master/src/test/java/javax/money/CurrencyContextBuilderTest.java
/jsr354-api-master/src/main/java/javax/money/spi/MonetaryCurrenciesSingletonSpi.java
/jsr354-api-master/src/test/java/javax/money/convert/TestNumberValue.java
/jsr354-api-master/src/test/java/javax/money/convert/ConversionContextTest.java
/jsr354-api-master/src/main/java/javax/money/RoundingContextBuilder.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/10.png
/jsr354-api-master/src/main/java/javax/money/MonetaryException.java
/jsr354-api-master/src/main/asciidoc/images/icons/example.png
/jsr354-api-master/src/main/java/javax/money/convert/ExchangeRateProviderSupplier.java
/jsr354-api-master/src/test/java/javax/money/AbstractContextBuilderTest.java
/jsr354-api-master/src/main/java/javax/money/convert/ProviderContextBuilder.java
/jsr354-api-master/src/main/java/javax/money/convert/ExchangeRateProvider.java
/jsr354-api-master/src/test/do-not-delete.txt
/jsr354-api-master/src/test/java/javax/money/convert/MonetaryConversionsDynamicServiceProviderTest.java
/jsr354-api-master/src/main/java/javax/money/AbstractContextBuilder.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/5.png
/jsr354-api-master/src/main/asciidoc/images/icons/important.png
/jsr354-api-master/src/test/resources/META-INF/services/javax.money.spi.MonetaryAmountsSingletonQuerySpi
/jsr354-api-master/src/test/java/javax/money/convert/ExchangeRate_BuilderTest.java
/jsr354-api-master/src/main/java/javax/money/AbstractContext.java
/jsr354-api-master/src/main/java/javax/money/convert/ConversionContextBuilder.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/12.png
/jsr354-api-master/src/main/java/javax/money/spi/MonetaryRoundingsSingletonSpi.java
/jsr354-api-master/src/main/asciidoc/images/icons/up.png
/jsr354-api-master/src/main/java/javax/money/format/MonetaryAmountFormat.java
/jsr354-api-master/src/test/java/javax/money/RoundingContextTest.java
/jsr354-api-master/src/test/java/javax/money/RoundingQueryBuilderTest.java
/jsr354-api-master/src/test/java/javax/money/spi/MonetaryAmountsSingletonQuerySpiTest.java
/jsr354-api-master/src/main/java/javax/money/spi/package-info.java
/jsr354-api-master/src/main/java/javax/money/DefaultMonetaryCurrenciesSingletonSpi.java
/jsr354-api-master/src/main/asciidoc/images/icons/note.png
/jsr354-api-master/src/test/java/javax/money/spi/MonetaryRoundingsSingletonSpiTest.java
/jsr354-api-master/src/test/resources/META-INF/services/javax.money.spi.MonetaryAmountFormatProviderSpi
/jsr354-api-master/src/main/java/javax/money/package-info.java
/jsr354-api-master/src/test/java/javax/money/format/MonetaryFormatsTest.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/13.png
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/15.png
/jsr354-api-master/src/test/java/javax/money/internal/DefaultMonetaryAmountsSingletonQuerySpi.java
/jsr354-api-master/src/test/java/javax/money/MonetaryDynamicServiceProviderTest.java
/jsr354-api-master/.gitignore
/jsr354-api-master/src/main/java/javax/money/convert/ConversionQueryBuilder.java
/jsr354-api-master/src/test/java/javax/money/DummyAmountBuilder.java
/jsr354-api-master/src/main/asciidoc/images/icons/prev.png
/jsr354-api-master/src/test/java/javax/money/convert/ExchangeRateProviderTest.java
/jsr354-api-master/src/main/java/javax/money/spi/MonetaryConversionsSingletonSpi.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/1.png
/jsr354-api-master/src/main/java/javax/money/format/AmountFormatContext.java
/jsr354-api-master/EVALUATION-LICENCE.txt
/jsr354-api-master/src/test/java/javax/money/convert/TestMonetaryConversionsSingletonSpi.java
/jsr354-api-master/src/test/java/javax/money/format/AmountFormatQueryTest.java
/jsr354-api-master/src/main/java/javax/money/spi/MonetaryAmountsSingletonQuerySpi.java
/jsr354-api-master/src/main/java/javax/money/UnknownCurrencyException.java
/jsr354-api-master/src/test/resources/META-INF/services/javax.money.spi.ServiceProvider
/jsr354-api-master/src/license/jcp_spec/final.txt
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/8.png
/jsr354-api-master/src/main/java/javax/money/AbstractQueryBuilder.java
/jsr354-api-master/src/main/asciidoc/JavaMoneySpecification.adoc
/jsr354-api-master/src/main/java/javax/money/CurrencyContext.java
/jsr354-api-master/src/main/java/javax/money/MonetaryContext.java
/jsr354-api-master/src/test/java/javax/money/convert/ProviderContextTest.java
/jsr354-api-master/src/test/java/javax/money/AbstractQueryTest.java
/jsr354-api-master/src/test/java/javax/money/internal/DefaultMonetaryAmountsSingletonSpi.java
/jsr354-api-master/src/main/java/javax/money/RoundingContext.java
/jsr354-api-master/src/main/java/javax/money/spi/DefaultServiceProvider.java
/jsr354-api-master/src/test/resources/META-INF/services/javax.money.spi.RoundingProviderSpi
/jsr354-api-master/src/main/java/javax/money/format/MonetaryParseException.java
/jsr354-api-master/src/main/java/javax/money/format/MonetaryFormats.java
/jsr354-api-master/src/license/licenses.properties
/jsr354-api-master/src/site/site.xml
/jsr354-api-master/src/main/java/javax/money/MonetaryContextBuilder.java
/jsr354-api-master/src/main/java/javax/money/DefaultMonetaryRoundingsSingletonSpi.java
/jsr354-api-master/src/main/java/javax/money/CurrencyContextBuilder.java
/jsr354-api-master/src/main/asciidoc/images/tiger.png
/jsr354-api-master/src/test/java/javax/money/convert/ExchangeRateTest.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/4.png
/jsr354-api-master/src/main/java/javax/money/spi/Bootstrap.java
/jsr354-api-master/src/main/java/javax/money/CurrencyUnit.java
/jsr354-api-master/src/main/java/javax/money/spi/MonetaryAmountFormatProviderSpi.java
/jsr354-api-master/src/test/java/javax/money/spi/CurrencyProviderSpiTest.java
/jsr354-api-master/src/main/java/javax/money/MonetaryAmount.java
/jsr354-api-master/src/test/java/javax/money/spi/MonetaryAmountsSingletonSpiTest.java
/jsr354-api-master/src/main/java/javax/money/convert/MonetaryConversions.java
/jsr354-api-master/src/main/java/javax/money/MonetaryAmountFactory.java
/jsr354-api-master/src/main/java/javax/money/NumberValue.java
/jsr354-api-master/src/main/java/java/money/module-info.java
/jsr354-api-master/src/main/asciidoc/images/highlighter.png
/jsr354-api-master/src/main/asciidoc/images/spi.jpg
/jsr354-api-master/src/test/java/javax/money/spi/MonetaryAmountFactoryProviderSpiTest.java
/jsr354-api-master/src/main/java/javax/money/convert/ConversionQuery.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/6.png
/jsr354-api-master/src/main/java/javax/money/MonetaryOperator.java
/jsr354-api-master/src/main/java/javax/money/MonetaryQuery.java
/jsr354-api-master/src/test/java/javax/money/spi/BootstrapTest.java
/jsr354-api-master/src/main/java/javax/money/spi/MonetaryFormatsSingletonSpi.java
/jsr354-api-master/IMPLEMENTATION-LICENCE.txt
/jsr354-api-master/src/main/java/javax/money/format/AmountFormatQuery.java
/jsr354-api-master/src/test/java/javax/money/AbstractContextTest.java
/jsr354-api-master/src/main/java/javax/money/spi/ServiceProvider.java
/jsr354-api-master/src/main/asciidoc/images/icons/tip.png
/jsr354-api-master/src/test/java/javax/money/TestCurrency.java
/jsr354-api-master/src/main/asciidoc/images/icons/home.png
/jsr354-api-master/src/test/resources/META-INF/services/javax.money.spi.MonetaryConversionsSingletonSpi
/jsr354-api-master/src/test/java/javax/money/AbstractDynamicServiceProviderTest.java
/jsr354-api-master/src/test/java/javax/money/format/TestAmountFormatProvider.java
/jsr354-api-master/src/test/java/javax/money/MonetaryAmountFactoryQueryTest.java
/jsr354-api-master/src/main/asciidoc/images/icons/callouts/11.png
/jsr354-api-master/src/test/java/javax/money/DummyAmount.java
/jsr354-api-master/src/test/java/javax/money/format/AmountFormatContextTest.java
/jsr354-api-master/src/main/java/javax/money/CurrencyQuery.java
/jsr354-api-master.zip
/jsr354-api-master/src/test/java/javax/money/TestRoundingProvider.java
/jsr354-api-master/src/main/java/javax/money/NumberSupplier.java
/jsr354-api-master/src/test/java/javax/money/convert/MonetaryConversionsTest.java
/jsr354-api-master/src/main/java/javax/money/convert/RateType.java
/jsr354-api-master/src/test/java/javax/money/format/MonetaryParseExceptionTest.java
/jsr354-api-master/src/main/java/javax/money/Monetary.java
/jsr354-api-master/src/main/java/javax/money/convert/ConversionContext.java
/jsr354-api-master/src/test/java/javax/money/DummyAmountFactoryProvider.java
/jsr354-api-master/src/main/asciidoc/images/icons/next.png